extends layout

block content
  section.top(style="background: url('http://placehold.it/1300x200');")
    .wrapper.content_header.clearfix
      .work_nav

        ul.btn.clearfix
          li
            a.previous(href="/articles" data-title="Articles")
          li
            a.grid(href="/" class="grid" data-title="Home")
          li
            a.next(href="/contact"  data-title="Contact Me")

      h1.title About
  section.wrapper
    .content
      section#info
        div.info
          h1 Nuno Cruz
          h3 Fullstack Developer
          small
            span Bray, Ireland
          small
            span(itemprop="email") nmocruz@gmail.com
            
        div.photo

      section#profile
        h2 My History & Profile
        p Master in Software engineering by Coimbra university in 2007. Worked most of time as a fullstack .net developer, web and desktop. Lived in Portugal, Brasil and now Ireland 
      section#skills
        h2 Skills
        div(style="display:inline-block")
          section#skills-left
            h3 Technologies
            ul
              li .Net 2-4, Core
              li WCF, WPF, Entityframework
              li ASP MVC, Web Api
              li Websocket, SignalR
              li Knockout
              li Aurelia
              li DI and IOC
              li DDD
              li SQL Server
              li Node.js
              li Java
          section#skills-rigth
            h3 Programming 
            ul
              li C#
              li Javacript
              li Typecript
              li HTML, CSS
              li LESS
              li SQL

      
      section#education
        h2 Education

      section#experience
        h2 Work experience
        

      
    