extends layout

block content
  section.top(style="background: url('http://placehold.it/1300x200');")
    .wrapper.content_header.clearfix
      .work_nav

        ul.btn.clearfix
          li
            a.previous(href="/articles" data-title="Articles")
          li
            a.grid(href="/" class="grid" data-title="Home")
          li
            a.next(href="/contact"  data-title="Contact Me")

      h1.title About
      
  section.wrapper
    .content.archives