extends layout

block content
  section.top(style="background: url('http://placehold.it/1300x200');")
    .wrapper.content_header.clearfix
      .work_nav

        ul.btn.clearfix
          li
            a.previous(href="/about" data-title="About")
          li
            a.grid(href="/" class="grid" data-title="Home")

      h1.title Contact
      
  section.wrapper
    .content.archives