extends layout

block content
  section.top(style="background: url('http://placehold.it/1300x200');")
    .wrapper.content_header.clearfix
      .work_nav

        ul.btn.clearfix
          li
            a.previous(href="/assets/projects/hexo-theme-magnetic/2013/12/25/no-title/" data-title="Untitled")
          li
            a.grid(href="/assets/projects/hexo-theme-magnetic/" class="grid" data-title="Portfolio")
          li
            a.next(href="/assets/projects/hexo-theme-magnetic/2013/12/25/videos/"  data-title="Videos")

      h1.title Excerpts
      
  section.wrapper
    .content.archives