extends layout

block content
  section.top(style="background: url('http://placehold.it/1300x200');")
    .wrapper.content_header.clearfix
      .work_nav

        ul.btn.clearfix
          li
            a.next(href="/articles"  data-title="Articles")

      h1.title Welcome
    
      
  section.wrapper
    .content.archives
      ul.post-list
        each post in posts
          li
            P.post-date= post.date
            h4
              a(href='/posts/'+post.url)= post.title
            p= post.resume
      